<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>书籍列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加书籍','/admin/toAddBook')"><i
                            class="layui-icon"></i>添加书籍
                    </button>
                </div>
                <form class="layui-form layui-col-space5 layui-card-header">

                    <div class="layui-inline layui-show-block ">
                        <input type="text" name="bookName" placeholder="请输入书名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline layui-show-block">
                        <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>
                        </button>
                    </div>
                </form>
                <div class="layui-card-body layui-table-body layui-table-main">


                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th style="text-align: center;">选择</th>
                            <th>书籍ID</th>
                            <th>书名</th>
                            <th>作者</th>
                            <th>出版社</th>
                            <th>出版日期</th>
                            <th>单价</th>
                            <th>库存总量</th>
                            <th>借出数量</th>
                            <th>剩余库存</th>
                            <th>分类</th>
                            <th>ISBN号</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr th:each="book,bookStat:${bookList}">
                            <td style="text-align: center" th:text="${bookStat.count}"></td>
                            <td style="text-align: center">
                                <input type="checkbox" name="id" th:value="${book.bookID}" lay-skin="primary">
                            </td>
                            <td th:text="${book.bookID}"></td>
                            <td th:text="${book.bookName}"></td>
                            <td th:text="${book.bookAuthor}"></td>
                            <td th:text="${book.bookPublisher}"></td>
                            <td th:text="${#dates.format(book.publishTime,'yyyy年MM月dd日')}"></td>
                            <td th:text="'￥'+${book.bookPrice}"></td>
                            <td th:text="${book.bookSum}"></td>
                            <td th:text="${book.bookLend}"></td>
                            <td th:text="${book.bookSum-book.bookLend}"></td>
                            <td th:text="${book.tag}"></td>
                            <td th:text="${book.isbn}"></td>
                            <td class="td-manage" style="text-align: center">
                                <a title="编辑"
                                   th:onclick="xadmin.open('编辑',[['/admin/toEditBook?id='+${book.bookID}]])"
                                   href="javascript:;">
                                    <i class="layui-icon ">&#xe642;</i>
                                </a>
                                <a title="删除" th:onclick="member_del(this,[[${book.bookID}]])" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                                <br>
                                <a title="查询借阅记录"
                                   th:onclick="xadmin.open('查询借阅记录',[['/admin/toBorrowList?bookID='+${book.bookID}]])"
                                   href="javascript:;">
                                    <i class="layui-icon">&#xe60a;</i>
                                </a>
                                <a title="查询未归还记录"
                                   th:onclick="xadmin.open('查询未归还记录',[['/admin/toBorrowList?bookID='+${book.bookID}+'&isNull=T']])"
                                   href="javascript:;">
                                    <i class="layui-icon">&#xe615;</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            <a class="prev" href="">&lt;&lt;</a>
                            <a class="num" href="">1</a>
                            <a class="next" href="">&gt;&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;


        // 监听全选
        form.on('checkbox(checkall)', function (data) {

            if (data.elem.checked) {
                $('tbody input').prop('checked', true);
            } else {
                $('tbody input').prop('checked', false);
            }
            form.render('checkbox');
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            console.log(id)
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
            //发异步删除数据
            $.ajax({
                url: "/admin/DeleteBook",
                type: "POST",
                data: {"id": id},
                dataType: 'json',
                success: function (result) {
                },
            });

        });
    }


    function delAll(argument) {
        var ids = [];

        // 获取选中的id
        $('tbody input').each(function (index, el) {
            if ($(this).prop('checked')) {
                ids.push($(this).val())
            }
        });

        layer.confirm('确认要删除吗？' + ids.toString(), function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>
</html>
