<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>服务器错误</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" th:href="@{/css/error.css}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
    <div class="display">
        <h1 class="num"></h1>
        <h1 class="stg"></h1>
    </div>
</div>
<!-- partial -->
<script th:src="@{/js/500.js}"></script>
</body>
</html>
