<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>书籍列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5 layui-card-header">
                    <div class="layui-inline layui-show-block ">
                        <input type="text" name="bookName" placeholder="请输入书名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline layui-show-block">
                        <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>
                        </button>
                    </div>
                </form>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>书籍ID</th>
                            <th>书名</th>
                            <th>作者</th>
                            <th>出版社</th>
                            <th>出版日期</th>
                            <th>单价</th>
                            <th>剩余库存</th>
                            <th>分类</th>
                            <th>ISBN号</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="book,bookStat:${bookList}">
                            <td style="text-align: center" th:text="${bookStat.count}"></td>
                            <td th:text="${book.bookID}"></td>
                            <td th:text="${book.bookName}"></td>
                            <td th:text="${book.bookAuthor}"></td>
                            <td th:text="${book.bookPublisher}"></td>
                            <td th:text="${#dates.format(book.publishTime,'yyyy年MM月dd日')}"></td>
                            <td th:text="'￥'+${book.bookPrice}"></td>
                            <td th:text="${book.bookSum-book.bookLend}"></td>
                            <td th:text="${book.tag}"></td>
                            <td th:text="${book.isbn}"></td>
                            <td class="td-manage" style="text-align: center">
                                <a title="借阅" th:if="${(book.bookSum-book.bookLend)} gt 0 and ${allow} eq true"
                                   class="layui-btn"
                                   onclick="allow(this)"
                                   href="javascript:;">
                                    <i class="layui-icon"></i>去借阅
                                </a>
                                <a title="借阅" th:if="${(book.bookSum-book.bookLend)} gt 0 and ${allow} ne true"
                                   class="layui-btn"
                                   onclick="notAllow(this)"
                                   href="javascript:;">
                                    <i class="layui-icon"></i>去借阅
                                </a>
                                <a title="借阅" th:if="${(book.bookSum-book.bookLend)} le 0 "
                                   class="layui-btn layui-btn-disabled"
                                   href="javascript:;">
                                    <i class="layui-icon"></i>去借阅
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            <a class="prev" href="">&lt;&lt;</a>
                            <a class="num" href="">1</a>
                            <a class="next" href="">&gt;&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use([' laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        // 监听全选
        form.on('checkbox(checkall)', function (data) {
            if (data.elem.checked) {
                $('tbody input').prop('checked', true);
            } else {
                $('tbody input').prop('checked', false);
            }
            form.render('checkbox');
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });

    /*用户-借书*/
    function allow(obj) {
        layer.confirm("图书馆开放时间为:<center style='color: red;font-size: 18px'>周一至周日 8:00 - 22:00</center>请前往图书馆借阅！", {
            title: '通知',
            btn: ['知道了']
        })
    }

    /*用户-不准借书*/
    function notAllow(obj) {
        layer.confirm("每个用户最多可借阅<span style='color: red;font-size: 18px'>8本</span>书籍<br>请尽快前往图书馆归还！", {
            title:
                '通知', btn: ['知道了']
        })
    }

</script>
</html>
